.nav {
	background-color: lightgreen;
	max-width: 100%;
	padding: 10px 20px 10px 20px;
}

.logo {
	background-color: rgba(25,255,57,0.5);
}

.image {
	background-color: rgba(0,255,0,0.5);
	height:450px;
}

.pro-specs {
	background-color: rgba(255,0,0,0.5);
	height:300px;
}

.a {
	background-color: rgba(0,0,255,0.5);
	height: 300px;
	padding: 15px;
}
.b {
	background-color: rgba(0,255,255,0.5);
	height: 300px;
	padding: 15px;
}
.c {
	background-color: rgba(255,255,0,0.5);
	height: 300px;
	padding: 15px;
}
.row {
	margin-bottom: 10px;
}
#review {
	min-height: 100px;
}
.button-submit {
	right:0px;
	bottom: 0px;
}
.rating {
	height: 350px;
	background-color: rgba(255,255,0,0.5);
}
.e {
	background-color: rgba(20,60,0,0.5);
	height:250px;
	top: 75px;
}
.f {
	background-color: rgba(200,250,0,0.5);
	height:200px;
}
.g {
	background-color: rgba(0,60,163,0.5);
	height:200px;
}
.h {
	background-color: rgba(44,44,44,0.3);
}
.footer {
	background-color: lightgreen;
	max-width: 100%;
	padding: 10px 25px 10px 25px;
}
.ul li{
	display: inline;
	list-style: none;
	margin-right: 10px;
}
.button-f {
	margin-top: 3px;
}
.x {
	background-color: rgba(0,0,255,0.5);
	height: 350px;
}
.y {
	background-color: rgba(0,255,255,0.5);
	height: 350px;
}
.z {
	background-color: rgba(255,255,0,0.5);
	height: 350px;
}
.ul2 li{
	display: block;
	list-style: none;
	margin-top: 5px;
}
p {
	text-align: justify;
}