*{
	box-sizing:	border-box;
	height: 100%;
	font-family: 'Open Sans', sans-serif;

}

body{
	/*max-width: 1400px;
	max-height: 900px;*/
	margin: auto;
	background-color: black;
}

a{
	text-decoration: none;	
}
