#page4{
	height: 100%;
	background-image: url("../../img/mainpage/page4.jpg");
	overflow: hidden;
}

/*#page4 * {
	height: auto;
}*/

#page4-1 {
	display:flex;
	height: 15%;
	background-color: rgba(50,40,0,0.5);
	width: 100%;
	margin: auto;
}

#page4-1 div:hover {
	background-color: rgba(50,40,0,0.2);
	cursor: pointer;
}

#page4-1 div {
	padding:2.8%;
	font-size: 25px;
}


.width{
	width: 100%;
	height: 85%;
	background-color: rgba(50,40,30,0.4);
}

#page4-1 div {
	width: 20%;
	border: 1px solid black;
}
#page4-2 {
	height:20%;
	width: 80%;
	margin: auto;
}

#page4-2 p,h2{
	height: auto;
	/*padding: 5px;*/
}

#page4-2 h2{
	height: auto;
	margin-top: 0px;
}

#page4-3 {
	height: 70%;
	margin: auto;
}

#page4-3 table {
	margin: auto;
}


#page4-3 >table{
	width:80%;
}
#page4-3 >table tr{
	height:50%;
}